@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli', sans-serif;
  background: #9cf;
}
.chart {
  margin: auto;
  padding: 20px;
  width: 1000px;
  svg {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px black;
  }
}
rect {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
text {
  font-size: 14px;
  &.title {
    font-size: 30px;
    text-anchor: middle;
    font-weight: bold;
  }
}
.tooltip {
  position: absolute;
  color: white;
  background: black;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
  width: 150px;
  height: 75px;
  padding: 5px;
  border-radius: 8px;
  pointer-events: none;
  h3, p {
    margin: 0;
    padding-bottom: 5px;
  }
}
.y path,
.y line {
  stroke-width: 0;
}
